* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// *,
// *::after,
// *::before {
//   // Prevent transition to fire before full page load
//   transition: none !important;
// }

.preload-transitions *,
.preload-transitions *::before,
.preload-transitions *::after {
  // Prevent transition to fire before full page load
  transition: none !important;
}
