.header {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 100px;

  @include atLarge {
    margin-bottom: 200px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 480px;
    background-image: radial-gradient(
      rgba(157, 146, 141, 0.1) 30%,
      transparent 10%
    );
    background-position: 0px 0px, 0px 30px;
    background-size: 30px 30px;
    opacity: 0.7;
    z-index: -999;
    transform: translateY(calc(-50% + 75px));
  }

  &__mobile-menu {
    &-icon {
      width: 40px;
      height: 4px;
      background-color: $mainColor;

      &::before {
        content: '';
        position: relative;
        display: block;
        top: -10px;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: $mainColor;
      }

      &::after {
        content: '';
        position: relative;
        display: block;
        top: 6px;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: $mainColor;
      }

      @include atLarge {
        display: none;
      }
    }
  }

  &__content {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    align-items: center;

    @include atLarge {
      height: calc(100vh - 150px);
      max-width: 400px;
      align-items: flex-start;
    }

    & .btn {
      max-width: fit-content;
    }
  }

  &__bg {
    display: none;

    @include atLarge {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      z-index: -99;
    }
  }

  &__navigation {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 10px 10px 0 10px;

    @include atLarge {
      height: 150px;
      padding: 0;
    }
  }

  &__brand {
    height: 75px;
    width: 75px;
  }

  &__list-wrap {
    display: none;

    @include atLarge {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__list-item {
    margin-left: 40px;
  }

  &__search {
    width: 32px;
    height: 32px;
  }

  &__link {
    color: #fff;
    position: relative;
    padding-bottom: 7px;
  }

  &__list-item:not(:nth-last-of-type(-n + 2)) &__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 50%;
    border-bottom: 3px solid $mainColor;
    border-radius: 6px;
    transition: all 0.3s ease-out;
    z-index: -1;
  }

  &__list-item:not(:nth-last-of-type(-n + 2)):hover &__link::after {
    width: 100%;
  }
}
