.header {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-bottom: 100px;

  @include atLarge {
    margin-bottom: 200px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 480px;
    background-image: radial-gradient(
      rgba(157, 146, 141, 0.1) 30%,
      transparent 10%
    );
    background-position: 0px 0px, 0px 30px;
    background-size: 30px 30px;
    opacity: 0.7;
    z-index: -999;
    transform: translateY(calc(-50% + 75px));
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-20px, 25px);
    z-index: 1;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-top: 15px;

    &-icon {
      width: 40px;
      height: 40px;

      &::before {
        content: '';
        position: relative;
        display: block;
        top: -6px;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: $mainColor;
        transition: transform 0.2s cubic-bezier(0.49, 0.15, 0.21, 1.75);
      }

      &__middle {
        width: 40px;
        height: 4px;
        background-color: $mainColor;
        transform-origin: left;
        transition: transform 0.2s ease-in-out;
      }

      &::after {
        content: '';
        position: relative;
        display: block;
        top: 6px;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: $mainColor;
        transition: transform 0.2s cubic-bezier(0.49, 0.15, 0.21, 1.75);
      }

      &--close-x {
        &::before {
          transform: rotate(45deg) scaleX(1.2) translate(7px, 7px);
          transform-origin: center;
        }

        .header__mobile-menu-icon__middle {
          transform: scaleX(0);
        }

        &::after {
          transform: rotate(-45deg) scaleX(1.2) translate(6px, -6px);
          transform-origin: center;
        }
      }

      @include atLarge {
        display: none;
      }
    }
  }

  &__content {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    align-items: center;
    text-align: center;

    @include atLarge {
      height: calc(100vh - 150px);
      max-width: 400px;
      align-items: flex-start;
      text-align: left;
    }

    & .btn {
      max-width: fit-content;
    }
  }

  &__bg {
    display: none;

    @include atLarge {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      z-index: -99;
    }
  }

  &__navigation {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 10px 10px 0 10px;

    @include atLarge {
      height: 150px;
      padding: 0;
    }
  }

  &__brand {
    height: 75px;
    width: 75px;
  }

  &__list-wrap {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 0.3s;
    transform: translateX(100%);

    @include atLarge {
      position: relative;
      visibility: initial;
      justify-content: flex-end;
      flex-direction: row;
      background: none;
      transform: translateX(0);
    }

    &--is-visible {
      transform: translateX(0);
    }

    & .btn {
      font-size: 1.7rem;

      @include atLarge {
        font-size: 1rem;
      }
    }
  }

  &__list-item {
    margin-bottom: 1.5rem;
    @include atLarge {
      margin-left: 40px;
      margin-bottom: 0;
    }
  }

  &__search {
    width: 48px;
    height: 48px;
    @include atLarge {
      width: 32px;
      height: 32px;
    }
  }

  &__link {
    color: #fff;
    font-size: 2.5rem;

    @include atLarge {
      color: #fff;
      position: relative;
      padding-bottom: 7px;
      font-size: 1rem;
    }
  }

  &__list-item:not(:nth-last-of-type(-n + 2)) &__link::after {
    @include atLarge {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0px;
      width: 50%;
      border-bottom: 3px solid $mainColor;
      border-radius: 6px;
      transition: all 0.3s ease-out;
      z-index: -1;
    }
  }

  &__list-item:not(:nth-last-of-type(-n + 2)):hover &__link::after {
    @include atLarge {
      width: 100%;
    }
  }
}
